---
import { getAllPostsWithSlugs, getPostBySlug } from '../../lib/api';
import Header from '../../components/Header.astro';
import '../../assets/css/bootstrap.min.css';

import '../../assets/css/style.css';
import '../../assets/css/responsive.css';
import '../../assets/css/article.css';

export async function getStaticPaths() {
  const postsWithSlugs = await getAllPostsWithSlugs();

  return postsWithSlugs.edges.map(({ node }) => {
    return {
      params: { slug: node.slug },
    };
  });
}

const { slug } = Astro.params;
const post = await getPostBySlug(slug);
const content = post.content.replace(
  'http://astrowp.local',
  `https://www.piscine-nice.com/articles`
);

const schema = JSON.stringify(post.seo.schema.raw).replace(
  'http://astrowp.local',
  `https://www.piscine-nice.com`
);
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <script type="application/ld+json" set:html={JSON.parse(schema)}></script>
    <title>{post.seo.title}</title>
    <meta name="description" content={post.seo.metaDesc} />
    <link
      rel="canonical"
      href={`https://www.piscine-nice.com/articles/${post.slug}`}
    />
    <meta name="viewport" content="width=device-width" />
    <!-- GOOGLE FONTS -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,800"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <div class="flex flex-col p-10">
      <div class="mb-5 text-4xl font-bold">{post.title}</div>
      <div id="single-post-page" class="single-post-section division">
        <div class="container">
          <div class="row">
            <!-- SINGLE POST -->
            <div class="col-md-12">
              <h1>{post.title}</h1>
              <article
                class="prose lg:prose-xl"
                set:html={content.replace(
                  'http://astrowp.local',
                  `https://www.piscine-nice.com/articles`
                )}
              >
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
