---
import Header from '../components/Header.astro';
// import '../assets/css/bootstrap.min.css';
import '../assets/css/style.css';
import '../assets/css/responsive.css';
import '../assets/css/article.css';

import Favicons from './Favicons.astro';


const { title, schema, description, image, canonical, headerBackground } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta property="og:locale" content="fr_FR" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="jungleup" content="ed238befefc41b3e8840277869cc1c67" />
    {image && <meta property="og:image" content={image} />}
    {
      schema && (
        <script type="application/ld+json" set:html={JSON.stringify(schema)} />
      )
    }
    <Favicons />

	  <!-- Service worker registration. -->
		<script is:inline src="/registerSW.js"></script>
		<link rel="manifest" href="/manifest.webmanifest" />
  </head>
  <body>
    <slot name="before-main" />

    <Header headerBackground={headerBackground} />
    <div id="page" class="page">
      <main>
        <slot name="main" />
      </main>
    </div>

    <style is:global>
      iframe,
      figure {
        max-width: 100% !important;
      }

      @font-face {
        font-family: 'Didone';
        src: url('/fonts/didone_variable.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Montreal';
        src: url('/fonts/montreal.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      h1 {
        background: -webkit-linear-gradient(-323deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #e10061;
    }

    </style>
  </body>
</html>
