---
import {
  getAllCategoriesWithSlugs,
  
  getAllPostsListingByCategory,
} from '../../lib/api';
import Header from '../../components/Header.astro';
import '../../assets/css/article.css';
// import '../../assets/css/bootstrap.min.css';

import LayoutPrimary from '../../components/LayoutPrimary.astro';
import { seoConfig } from '../../utils/seoConfig';

export async function getStaticPaths() {
  const postsWithSlugs = await getAllCategoriesWithSlugs();
  return postsWithSlugs.edges.map(({ node }) => {
    return {
      params: { slug: node.slug },
    };
  });
}

const { slug } = Astro.params;
const posts = await getAllPostsListingByCategory(slug);
---

<LayoutPrimary
  canonical={`${seoConfig.baseURL}/categorie/${slug}`}
  description="Astuces Casino en Ligne vous présente ses meilleurs articles pour découvrir l'univers du casino en ligne."
  title={'Articles et conseils sur les casinos et le monde du jeu'}
>
  <div slot="main" id="blog-page" class="blog-page-section division">
    <div class="container">
      <div class="row">
        <!-- BLOG POSTS HOLDER -->
        <div class="wrapper">
          <h1>Nos guides complets</h1>
          <p>
            Retrouvez des articles et des guides complets écrit par des
            passionés du casino.
          </p>
          <div class="posts-holder p-right-60">
            {
              posts &&
                posts?.edges?.map(({ node }) => {
                  return node.status === 'publish' ? (
                    <div class="blog-post">
                      <div class="blog-post-txt m-bottom-10">
                        <span>
                          {new Date(node.date).toLocaleDateString('fr')}
                        </span>

                        <a href={`/articles/${node.slug}`}>
                          <h2 class="h4-lg">{node.title}</h2>
                        </a>
                        <div set:html={node.excerpt} />
                      </div>
                      <hr />
                    </div>
                  ) : null;
                })
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .wrapper {
      max-width: 1280px;
      margin: 0 auto;
      padding: 0 5px;
    }
  </style>
</LayoutPrimary>
